html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

.left-side {
    /* change text color to white */
    color: white;
    background-color: #0e83c1;
    height: 100vh;
  }
  
.right-side {
    background-color: #ffffff;
    height: 100vh;
  }

.title {
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.picture-box {
    width: 100%;
    height: 100%; /* Takes full height and width of the left side */
    overflow: hidden; /* Ensures no overflow */
    padding: 0;
    margin: 0;
  }
  
  .picture-box img {
    width: 100%;
    height: 100%; /* Makes the image fill the container */
    object-fit: cover; /* Ensures the image covers the box, cutting off overflow */
    object-position: top; /* Aligns the image to the top, cutting off only the bottom */
    display: block;
    padding: 0;
    margin: 0;
  }

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}

/* Mobile layout: hides left-side and reduces title size */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    .title {
        font-size: 24px; /* Smaller title */
        text-align: center;
    }

    .picture-box img {
        width: 100%; /* Make image responsive on smaller screens */
        max-width: 100%;
    }
}