html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

.left-side {
    background-color: #abcdef;
    height: 100vh;
  }
  
.right-side {
    background-color: #ffffff;
    height: 100vh;
  }

.title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.picture-box {
    margin-top: 20px;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}

/* Mobile layout: hides left-side and reduces title size */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    .title {
        font-size: 24px; /* Smaller title */
        text-align: center;
    }

    .picture-box img {
        width: 100%; /* Make image responsive on smaller screens */
        max-width: 100%;
    }
}
