html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

footer {
    /* move the footer to the bottom of the page */
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.scoreboard {
    position: relative;
}

.table {
    background-color: #abcdef;
  }

  /* Responsive adjustments */
  @media (max-width: 767px) {
    .scoreboard {
        margin-top: 20px;
    }
  }